
<div class="register-parent">
    <div class="register">
 <div class="register-title">
     <img src="../img/Trust-me-logo.png" alt="Trust-me-logo">
     <h2>Create a new Adminstrator account</h2>
 </div>
 <% include ./partials/messages %>
 <form action="/admin/register" method="POST">
     <div class="form-group">
         <input type="name" 
          class="form-control 
          id="name"   
          placeholder="enter your username" 
          value="<%= typeof name != 'undefined' ? name : '' %>"/>
       </div>
     <div class="form-group">
       <input type="email" 
        class="form-control  
        id="email" 
        placeholder="enter your email"
        value="<%= typeof email != 'undefined' ? email : '' %>"/>
     </div>
     <div class="form-group">
       <input type="password" 
        class="form-control 

        id="password" 
        placeholder="enter your password"
        value="<%= typeof password != 'undefined' ? password : '' %>"/>
        <div class="form-group">
            <input type="password" 
             class="form-control 
             id="password2" 
             placeholder="confirm your password"
             value="<%= typeof password != 'undefined' ? password : '' %>"/>
     </div>
     <button type="submit" class="btn">Register</button>
   </form>
   <p class="lead mt-4">Have An Account? <a href="/admin/login">Login</a></p>
</div>
</div>