<div class="flex-dashboard">
    <sidebar>
        <div class="sidebar-title">
            <img src="../img/Trust-me-logo.png" alt="Trust-me-logo">
            <p><%= user.name %> </p>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/client">
                        Clients</a>
                </li>
                <li>
                    <a href="/guard">
                        Guards</a>
                </li>
                <li>
                    <a href="/stuff">
                        Staff</a>
                </li>
                <li>
                    <a href="/tracker">
                        Tracker</a>
                </li>
                <li>
                    <a href="/reports">
                        Reports</a>
                </li>
                <li>
                    <a href="/site">
                        Sites</a>
                </li>
                <li>
                    <a href="">
                        Inventory</a>
                </li>
                <li>
                    <a href="">
                        Scheduler</a>
                </li>
                <li>
                    <a href="">
                        Payroll</a>
                </li>
                <li>
                    <a href="">
                        Accounts</a>
                </li>
            </ul>
        </div>
    </sidebar>
<main>
    <header>
        <a href="/">>Dashboard</a>
        <a href="/admin/logout">Logout</a>
    </header>
    <div class="main-content">
        <form>
            <div class="form-row">
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="First Name">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="Last Name">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="Adress">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie input-medium bfh-phone form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="Phone Number">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie input-medium bfh-phone form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="First Name">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="Last Name">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie  form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="Address">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col">
                    <input type="text" class="clie  form-control
                        shadow-sm p-3 mb-5 bg-white rounded"
                        placeholder="Phone Number">
                </div>
            </div>
        </div><!--form-row div end-->
        <button type="submit" class="btn save-guard-btn">Submit</button>
    </form>
</main>
</div>