<!--====LOGIN SECTION====-->
<div class="login">
  <div class="login-form">
    <div class="login-form-wrapper">
      <div class="login-title">
        <h2>Admin Security Portal</h2>
        <p>To login, sign-in with your credentials</p>
      </div>
      <% include ./partials/messages %>
      <form action="" method="POST">
        <label class="lab" for="email">Email</label>
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
          />
        </div>
        <label class="lab" for="password">Password</label>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
        </div>
        <button type="submit" class="login-btn">Login</button>
        <div class="enter-reg-btn">
          <a href="/admin/register">Register</a>
        </div>
      </form>
    </div>
  </div>
  <div class="banner-login">
    <img src="/img/Trust-me-logo.png" alt="Trust-me-logo" />
  </div>
</div>
