<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img class="rounded mx-auto d-block" src="/img/Trust-me-logo.png" alt="">
    <hr class="my-4">
    <p class="welcome text-center">Welcome to TrustMeSecurity You can login or register to Manage the dashboard</p>
    <div class="butans">
      <a href="/admin/register" class="btn btn-danger ">Register</a>
      <a href="/admin/login" class="btn btn-success ">Login</a>
    </div>
  </div>
  </div>