<div class="register-parent">
    <div class="register">
     <div class="register-title">
         <img src="../img/Trust-me-logo.png" alt="Trust-me-logo">
         <h2>Create a new Adminstrator account to access dashboard</h2>
         <a href="/admin/register">Register</a>
         <a href="/admin/login">Login</a>
     </div>
    </div>
</div>